--waline-theme-color: #dfb372

.dark-mode{
    --background-color-transparent-80: rgba(32,33,36,0.9)
}

.category-list-content .all-category-list{
  display: block
}

.category-list-content .all-category-list>.all-category-list-item{
  background-color: var(--background-color)
  box-shadow: none
}

.category-list-content .all-category-list>.all-category-list-item:hover{
  box-shadow: none
  transform: none
}